a:link, a:visited
{
    color: #0398CA;
}
td
{
    vertical-align: text-top;
}
header, .menu, footer
{
    text-align: center;
    vertical-align: text-top;
}
header
{
    color: #91BE3F;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}
footer
{
    color: #606060;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    color: #009900;
}
h1
{
    color: #005500;
}
p
{
    color: #000000;
}
iframe
{
    width: 100%;
    height: 100%;
    border-style: none;
}
div, header, footer
{
    border: solid 2px blue;
}
.bodyPage
{
    border: solid 2px green;
    width: 100%;
    height: 100%;
}
table, tr, td
{
    border: solid 2px green;
}
table.templateTable td
{
    border: solid 1px black;
/*     border-collapse: collapse; */
}